@import "../app/lib/foundation/scss/foundation.scss";

.angular-google-map-container {
  height: 400px;
}

.green {
  color: white;
  background-color: green;
}

.yellow {
  background-color: #ffff00;
}

.red {
  color: #ffffff;
  background-color: red;
}

.marker-window {
  float: left;
  height: 100px;
  width: 100%;
}