<div>
    <google-map center="map.center" zoom="map.zoom"  draggable="true"></google-map>
    <google-map center="map.center" zoom="map.zoom">
        <marker ng-repeat="marker in map.markers" coords="marker.location">
            <window show="marker.showWindow" icon="marker.score | markerIcon">
                <div class="marker-window {{marker.score | markerClass}}">
                    <p>{{marker.name}} ({{marker.score}})</p>
                    <p>{{marker.address.street}}</p>
                </div>
            </window>
        </marker>
    </google-map>
</div>